.footer-container {
  margin: 0 auto;
  width: 1140px;
  
}
.footer {
  height: 180px;
  background-color: #ffb36c;
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.address-item-title{
    font-size: 16px;
}
.address-paragraph{
    font-size: 12px;
    width: 92px;
    padding-top: 10px;
}
.contacts-list{
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding-top: 10px;
}
.information-div{
    display: flex;
    align-items: center;
    width: 540px;
    justify-content: space-between;
    
}