.header__container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: white;
}

.header-container__menu {
  display: flex;
  justify-content: space-between;
}
.header-container-menu__logo{
  margin-top: 12px;
}

.header-menu__list {
  display: flex;
  margin-top: 32px;
  gap: 45px;
  margin-left: -350px;
}

.header-meni-list-item__text {
  color: #000000;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  text-decoration: none;
}
.header-container-menu__wrapper{
  display: flex;
  gap: 17px;
}
.header-container-menu-wrapper__button {
  width: 89px;
  height: 35px;
  background-color: #FFB36C;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 22px;
}

.header-container-menu-wrapper__icon {
  margin-top: 12px;
}