@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-main: 'Montserrat', sans-serif;

}

.PetsNews-container {
    margin-top: 80px;
    padding: 8px 158px;
}

.PetsNews-heading {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.PetsNews-list {
    padding-top: 40px;
display: flex;
flex-wrap: wrap;
gap: 20px;
}


.PetsNews-list-img{
     width: 270px;
    height: 208px;
    border-radius: 8px;
}
.PetsNews-img{
 width: 270px;

    height: 208px;
       border-radius: 8px;
}
.PetsNews-list-text {
     font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%; 
      width: 270px;
      padding-top: 20px;
}

.PetsNews-btn {
    font-family: var(--font-main);
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
padding: 10px 30px;
border: none;
border-radius: 10px;
background-color:#FFB36C;
color: #000000;
margin-top: 40px ;

}

.PetsNews-btn:hover {
    background-color:#fabe86;
}

@media (max-width: 393px) {
*{
    background-color: #fff;
}



.PetsNews-container {
    padding: 50px 30px;
    margin: 0 auto;
  }
.PetsNews-heading {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
text-align: center;
}

.PetsNews-list {
    padding-top: 40px;

gap: 20px;

}


.PetsNews-img{
     width: 240px;
    height: 150px;
    border-radius: 8px;
}

.PetsNews-list-text {

    font-size: 12px;
      width: 157px;
      padding-top: 10px;
}

.PetsNews-btn {

font-size: 14px;
padding: 7px 24px;
margin-left: 70px;
margin-top: 20px ;
}
}
