/* styles.css */

.container {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 320px;
  height: 430px;
  background-color: #f0f0f0;
  padding: 16px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 16px;
}

.time {
  font-size: 24px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.hourly-button {
  background-color: #ffd700;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}

.weekly-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.date {
  font-size: 16px;
  margin-bottom: 24px;
}

.icon {
  margin-bottom: 16px;
}

.icon img {
  width: 48px; /* Adjust based on your image size */
  height: 48px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;  
  border: none; 
  outline: none;   
}
footer-item button{
  background: none;  
  border: none; 
  outline: none;   
}

.footer-item img{
  height: 30px;
  width: 30px;
  cursor: pointer;
  border:none;
}


.see-more-button {
  background-color: #ffd700;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}


.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: 20px;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}